*{
margin: 0; /* ALTERA A MARGEM */
padding: 0; /* ALTEROU LARGURA DA MARGEM */
box-sizing: border-box;
}

body{
font-family: Arial, Helvetica, sans-serif; /* ALTERA FONTE DE TODO SITE */
line-height: 1.6; /* DISTANCIA DOS PARÁGRAFOS */
background-color: rgb(181, 215, 238); /* ALTERA COR DE FUNDO DO CORPO DO SITE */
}
nav{
position: fixed; /* FIXOU A BARRA DE NAVEGAÇÃO NA TELA */
top: 0; /* ALTERA O LOCAL DOS LINKS */
width: 100%; /* ? */
background-color: rgba(245, 97, 97, 0.445); /* ALTERA COR DE FUNDO DA BARRA DE NAVEGAÇÃO */
padding: 20px 0; /* ALTERA A MARGEM DA BARRA DE NAVEGAÇÃO */
}
nav ul{
list-style-type: none; /* TIROU MARCADORES DOS LINKS */
display: flex; /* ORGANIZA OS LINKS NA HORIZONTAL */
justify-content: center; /* COLOCA OS LINKS DA BARRA DE NAVEGAÇÃO NO CENTRO DA TELA */
}

nav ul li{
    margin: 0 20px; /* ALTERA ALTURA E LARGURA DE CADA LINK */
}
nav ul li a{
color: rgb(203, 253, 188); /* ALTERA COR DOS LINKS DE NAVEGAÇÃO */
text-decoration: none; /* ALTERA A DECORAÇÃO DO TEXTO */
padding: 60px; /* ALTERA MARGEM DE CADA LINK */
transition: color 0.3s; /* TRANSIÇÃO DE COR QUANDO COLOCA O MOUSE EM CIMA DO LINK */
}
nav ul li a:hover{
color: rgb(211, 35, 35); /* ALTERA A COR QUE O LINK FICA APÓS COLOCAR O MOUSE EM CIMA */
}

section:not(#home){
padding: 100px 20px; /* ALTURA E LARGURA DO CORPO DO SITE */
text-align: center; /* TEXTO NO CENTRO DA TELA */
display: flex; /* ORGANIZA OS TEXTOS */
justify-content: center; /* ARRUMA NA HORIZONTAL */
align-items: center;/* ARRUMA OS ITENS NA VERTICAL */
height: 100vh; /* ALTERA A DISTANCIA DE ALTURA ENTRE UMA SEÇÃO E 
OUTRA */
}

#home{
    /* background-color: #4A90E2; */
    background-image: url(https://ichef.bbci.co.uk/ace/ws/800/cpsprodpb/1e1c/live/ed43bf20-3f23-11ef-96a8-e710c6bfc866.jpg.webp); /* COLOCAR UMA IMAGEM NO FUNDO DO HOME */
    background-size: cover; /* PREENCHER TODA TELA */
    background-repeat: no-repeat; /* PARA NÃO REPETIR A IMAGEM */
    color: rgb(245, 214, 214); /* ALTERA COR DO TEXTO */
    height: 100vh; /* ALTERA ALTURA DA IMAGEM */
    text-align: center; /* ALTERA O TEXTO PRO CENTRO DA TELA */
    display: flex;/* TEXTO UM DO LADO DO OUTRO */
    flex-direction: column; /* DEIXA EM COLUNA */
    justify-content: center; /* ALINHAMENTO HORIZONTAL */
    align-items: center; /* ALINHAMENTO VERTICAL */
    font-size: 1.3em; /* ALTERA TAMANHO DA FONTE */
    font-family: Arial, Helvetica, sans-serif;
    

    
}
.content{
    display: flex; /* FICA UM DO LADO DO OUTRO */
    flex-direction: row;
    align-items: center; /* ALINHA ITEMS NO CENTRO DA TELA */
    justify-content: center;
}
.content img{
width: 450px; /* ALTERA LARGURA DA IMAGEM */
height: 350px; /* ALTERA ALTURA DA IMAGEM */
object-fit: cover;
margin-right: 20px; /* ALTERA MARGEM DA DIREITA */
border-radius: 8px; /* ALTERA A BORDA DA IMAGEM */
}
.content.text{
max-width: 600px;
text-align: left;
}
.content .text h2{
font-size: 2em;
margin-bottom: 2px;
color: rgb(16, 21, 95);

}
.content.text p{
font-size: 1.1em;
color: rgb(165, 174, 180);
}
#history{
background-color: rgb(247, 166, 166); /* ALTERA COR DE FUNDO */

}
#painting{
    background-color: rgb(156, 214, 164); /* ALTERA COR DE FUNDO
     */

}
#curiosities{
    background-color: rgb(250, 135, 131);/* ALTERA COR DE FUNDO */
}
.cta-button{
margin-top: 30px;
background-color: rgb(241, 91, 91); /* MUDA COR DO BOTÃO */
color: rgb(0, 0, 0); /* ALTERA COR DO TEXTO DO BOTÃO */
padding: 15px 30px; /* ALTERA MARGEM VERTICAL E HORIZONTAL */
font-size: 18px; /* ALTERA TAMANHO DA FONTE */
border: none; /* TIRA A BORDA */
border-radius: 15px; /* MUDA TAMANHO DA BORDA */
cursor: pointer; /* ALTERA O CURSOR DO MOUSE QUANDO COLOCA EM CIMA DO BOTÃO */
box-shadow: 0px 4px 6px #d7ffa2; 
transition: background-color 1s ease, transform 1s ease; 
} 